body{
    background-image:url(india1.jpg);
    background-size:cover ;
    height: 100%;
    
    margin: 0;
    padding: 0;

}
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Arial;
    padding-right: 50px;
    font-size: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 30px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.title {
    margin: 0;
    font-family: Arial;
}
.h1{
    color:orange;
    font-family: Arial;
    padding-left: 40px;
    font-size: 35px;
}
h3{
    color: white;
    padding-left: 40px;
    font-size: 20px;
}
.box{
   
    font-family: 'Times New Roman';
    font-size: 30px;
    padding-left: 50px;
}
.box .a{
    color:green;
    text-decoration: none;
}