body{
    background-image: url(ronaldo7.jpg);
    background-size: cover;
    height: auto;
    margin:0 ;
    padding: 0%;
}
    
.navbar {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-family: Arial;
    padding-right: 50px;
    font-size: 20px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin-right: 30px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}

.title {
    margin: 0;
    font-family: Arial;
}
.box{
    background-color: rgba(0,0,0,0.4);
    color: white;
    box-sizing: border-box;
    border-radius: 30px;
    width: 450px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 47%;
    transform: translateY(-40%);
    right: 8%;
    font-family: Arial;
    border-color: #fff;
    border: 2px;
    padding-top: 8px;
   
}
#radio{
    align-items: center;
}
h3{
    text-align: center;
    font-weight: 400;
    font-size: 1.9vw;
    font-family: Arial;
    color:white;
    font: bold;
}
@media (orientation:portrait){
    .h3 h3{
        font-size: 4vw;
    }
    .box{
      top: 30%;
       
    }
}
@media(orientation:landscape){
}